*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.cat{
   display: flex;
   justify-content: center;
   align-items: center;
    height: 150px;
    background: linear-gradient(
    to left,
    cyan 25%,
    red 25%,
    red 50%,
    lime 50%,
    lime 75%,
    yellow 75%
  );
  background: linear-gradient(
    to left,
    
    cyan 25%,
    red 25% 50%,
    lime 50% 75%,
    yellow 75%,
  );
  border: 5px black solid;
}

.catalogo{
    color: #FFFFFF;
}

h1{
  text-align: center;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}
.image-container{
  display: block;
}

.image-container img{
  width: 100%;
}

article {
  padding: 50px;
  box-shadow: 0px 0px 1px #000;
}

.personaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
}

.personaje img {
  max-width: 100%;
  height: auto;
}

form {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}

.edit-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: green;
}